@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Outfit", sans-serif;
  }

  body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}

@theme {
  --color-orange-primary: #EC744A;
  --color-green-primary: #1F4D36; /* Dark green from design */
  --color-bg-primary: #FCF8F4;

  --color-text-primary: #1A1A1A;
  --color-text-secondary: #777777;
}

@layer components {
  .align-center {
    @apply justify-center items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .btn {
    @apply cursor-pointer rounded-full bg-orange-primary text-white font-medium px-6 py-3 hover:opacity-90 transition-opacity;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto px-6 md:px-12;
  }
}