@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: #1A1A1A;
  }
  a {
    /* color: inherit; */
    /* text-decoration: none; */
  }

  button {
    /* cursor: pointer; */
    /* border: none; */
  }
}

@theme {
  --color-orange-primary: #EC744A;

  --color-text-primary: #1A1A1A;
  --color-text-secondary: #777777;

}

@layer components {
  .align-center {
    @apply justify-center items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .btn {
    @apply cursor-pointer rounded-full bg-orange-primary text-[#FCF8F4] px-4 py-2;
  }
}